  <%@recipes.each_with_index do |recipe, i|%>
    <article class="recipe_card">
      <div>
        <%=link_to recipe_path(id: recipe.id) do%>
          <h2><%=recipe.name%></h2>
        <%end%>
        <% if can? :update, recipe%>
          <%= link_to 'REMOVE', recipe_path(recipe), class: "delete",data: {
            turbo_method: :delete, turbo_confirm: "Are you sure?"
          } %>
        <%end%>
      </div>
      <p>Description for the recipe:<br><%=recipe.description%></p>
    </article>
  <%end%>