<section class='recipes_index flex_column'>
  <% if @recipes.count > 0%>
    <%= render 'recipe_card'%>
  <% else %>
    <h2>There are no recipes yet</h2>
  <% end %>
  <%=link_to "New Recipe", new_recipe_path, class: "button" %>
</section>
